/* src/styles/components/backgroundWrapper.css */
.bg-wrap {
   position: relative;
   min-height: 100vh;
   background-color: var(--bg-dark);
   /* убрали background-image */
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   overflow: hidden;
 }
 
 .bg-wrap::before {
   content: '';
   position: absolute;
   inset: 0;
   background: rgba(0,0,0,0.4);
   pointer-events: none;
   z-index: 0;
 }
 
 .bg-wrap > * {
   position: relative;
   z-index: 1;
 }
 